body {
    background-image: url("background.jpeg");
}

img{
    width: 400px;
    border-width: 4px;
    border-style: solid;
    border-color: black;
    border-radius: 20px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
}

p {
    background-color: darkcyan;
    font-size:x-large;
    border-width: 6px;
    border-style: solid;
    border-color: black;
    border-radius: 15px;
    
}

h1 {
    color: indigo;
    text-align: center;
    border-width: 6px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
}

div {
    width: 100€;
}

#lista {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    font-size: 13px;
}

.separador {
    color:red
}

#lista li {
    display: inline;
    padding-left: 3px;
    padding-right: 3px;
    background-color: black;
}

a {
    color:floralwhite
}